.contato {
    text-align: center;
    min-height: 100vh;   
}

.contato h2 {
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-size: 4rem;
}

.contato form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contato form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contato form .input-box input,
.contato form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contato form textarea {
    resize: none;
}

.contato .btn {
    width: 20%;
    height: 45px;
    margin-top: 2rem;
    cursor: pointer;
}

@media (max-width: 680px) {
    .contato{
        padding: 4rem;
    }
    
    .contato .btn{
        width: 33%;
    }
}