.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: (--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-icon a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-icon a i{
    font-size: 2.4rem;
    color: red;    
}