* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {    
    padding: 8rem 9% 2rem;
}

/*Medias Querys*/
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width: 900px) {
    section {
        padding: 10rem 3% 2rem;
    }
}